// for tag cloud and archives
.category-cloud {
  list-style: none;
  padding: 0;
  text-align: justify; 
  font-size: 16px;
  li {
    display: inline-block;
    margin: 0 12px 12px 0; 
  }
}
#categories {
  padding: 5px;
}
.category-group {
  margin: 5px;
  border-top: 1px solid #ddd;
}
.category-item {
  margin-left: 5px;
}
.post-categories {
  text-align: right;
}